#icon {
    max-width: 10%;
    max-height: auto;
}

.low {
    background-color: darkseagreen;
}

.mid {
    background-color: goldenrod;
}

.high {
    background-color: indianred;
}

.burntout {
    background-color: maroon;
}

.navbar {
    text-align: center;
}